<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>Label</key>
    <string>com.sakky.twitter-bangers</string>

    <key>ProgramArguments</key>
    <array>
        <string>__NODE_PATH__</string>
        <string>__PKG_DIR__/build/weekly-bangers.js</string>
    </array>

    <key>WorkingDirectory</key>
    <string>__PKG_DIR__</string>

    <!-- Weekly: Saturday 05:00 local time. -->
    <key>StartCalendarInterval</key>
    <array>
        <dict><key>Weekday</key><integer>6</integer><key>Hour</key><integer>5</integer><key>Minute</key><integer>0</integer></dict>
    </array>

    <key>StandardOutPath</key>
    <string>__PKG_DIR__/logs/bangers.out.log</string>

    <key>StandardErrorPath</key>
    <string>__PKG_DIR__/logs/bangers.err.log</string>

    <key>EnvironmentVariables</key>
    <dict>
        <key>PATH</key>
        <string>/opt/homebrew/bin:/usr/local/bin:/usr/bin:/bin</string>
    </dict>
</dict>
</plist>
